Stateless_Nifi_Source.json
{"flowContents":{"identifier":"63753146-dde5-395b-a2a1-25d4a91e5db1","instanceIdentifier":"f124be5c-0183-1000-0000-00005c81d35f","name":"Stateless Nifi Source","comments":"","position":{"x":354.0,"y":125.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a28d3f6f-be63-3a72-a979-bd0de5ad9950","instanceIdentifier":"f124f842-0183-1000-ffff-ffffaf9b0827","name":"GenerateFlowFile","comments":"","position":{"x":368.0,"y":123.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\"id\": \"${UUID()}\", \"ts\": \"${now()}\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"63753146-dde5-395b-a2a1-25d4a91e5db1"}],"inputPorts":[],"outputPorts":[{"identifier":"d43e4004-46cd-39af-8f36-58e5e184acba","instanceIdentifier":"f1265d6e-0183-1000-0000-00000e4a35e5","name":"send_to_kafka","comments":"","position":{"x":424.0,"y":448.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"63753146-dde5-395b-a2a1-25d4a91e5db1"}],"connections":[{"identifier":"a4b51251-57b7-330f-85bb-3b0619f39aa1","instanceIdentifier":"f1eef8f6-0183-1000-0000-0000187465d9","name":"","source":{"id":"a28d3f6f-be63-3a72-a979-bd0de5ad9950","type":"PROCESSOR","groupId":"63753146-dde5-395b-a2a1-25d4a91e5db1","name":"GenerateFlowFile","comments":"","instanceIdentifier":"f124f842-0183-1000-ffff-ffffaf9b0827"},"destination":{"id":"d43e4004-46cd-39af-8f36-58e5e184acba","type":"OUTPUT_PORT","groupId":"63753146-dde5-395b-a2a1-25d4a91e5db1","name":"send_to_kafka","comments":"","instanceIdentifier":"f1265d6e-0183-1000-0000-00000e4a35e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"63753146-dde5-395b-a2a1-25d4a91e5db1"}],"labels":[{"identifier":"4982653f-f1e4-3ea7-ad14-42ff6fc80e21","instanceIdentifier":"c27b442e-fa28-1b5b-0000-00002773f0e8","position":{"x":344.0,"y":96.0},"zIndex":0,"width":408.0,"height":432.0,"style":{"background-color":"#cfcfcf"},"componentType":"LABEL","groupIdentifier":"63753146-dde5-395b-a2a1-25d4a91e5db1"},{"identifier":"3648e635-c48c-3db5-b967-8ea615a7e328","instanceIdentifier":"c27b445a-fa28-1b5b-0000-00001d2524e7","position":{"x":744.0,"y":160.0},"label":"Generates a flowfile in JSON format with \na UUID and the current timestamp.","zIndex":0,"width":240.0,"height":48.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"63753146-dde5-395b-a2a1-25d4a91e5db1"},{"identifier":"b86fb355-cde6-3250-a280-a6a3a8c3147a","instanceIdentifier":"c27b444a-fa28-1b5b-0000-00003c8d5d8b","position":{"x":688.0,"y":448.0},"label":"Output is sent to a Kafka topic defined \nin your KConnect configuration.","zIndex":0,"width":232.0,"height":48.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"63753146-dde5-395b-a2a1-25d4a91e5db1"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}