Stateless_Nifi_Sink.json
{"flowContents":{"identifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8","instanceIdentifier":"3e0679ea-0184-1000-0000-0000734cee5d","name":"Stateless_Nifi_Sink","comments":"","position":{"x":1021.0,"y":233.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a6818d8e-baef-39eb-a726-372f623acac2","instanceIdentifier":"df5507de-38ef-3d58-a8db-edd0122b23a6","name":"ConvertRecord","comments":"","position":{"x":400.0,"y":248.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.5-1"},"properties":{"record-writer":"89f20f4d-51f9-3be7-9c29-04af4b6b6080","record-reader":"5afccf1b-7197-3f12-9d1a-3fabce307681","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"679c9326-6ef5-3b3f-b874-999cc90b554b","instanceIdentifier":"6b479abe-7e9e-3205-a5de-4007fb00b939","name":"PutCDPObjectStore","comments":"","position":{"x":400.0,"y":720.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.5-1"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{cdp_password}","cdp-storage-location":"#{bucket_uri}","Kerberos Principal":"#{cdp_username}","writing-strategy":"simpleWrite","Directory":"#{bucket_folder}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"ab6229d5-c78c-3a51-bd7b-9396b5a6ef7a","instanceIdentifier":"615b907c-50ed-3477-a1fd-ba871d0ca1e0","name":"MergeRecord","comments":"","position":{"x":400.0,"y":488.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.5-1"},"properties":{"max-bin-age":"30 seconds","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"89f20f4d-51f9-3be7-9c29-04af4b6b6080","merge-strategy":"Bin-Packing Algorithm","record-reader":"33825ddc-1dce-33e8-83e0-53eebae922fd","max-records":"10000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"}],"inputPorts":[{"identifier":"9fa2cfe0-44bc-3ddc-8562-e7a7c41115bf","instanceIdentifier":"2c76a176-4303-36ba-a37d-c0e884589a3b","name":"receive_kafka","comments":"","position":{"x":456.0,"y":80.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"}],"outputPorts":[{"identifier":"7904d3ca-8a8e-31e3-a814-d3036405ed0a","instanceIdentifier":"e2542c03-5264-3a9d-91c3-cfba9d575628","name":"failures","comments":"","position":{"x":1200.0,"y":520.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"}],"connections":[{"identifier":"08bce58e-ccf3-3737-9df1-5f59e335b418","instanceIdentifier":"e0592635-3678-3caf-b0b7-c4ad11f11a4c","name":"Convert Record Failure","source":{"id":"a6818d8e-baef-39eb-a726-372f623acac2","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"ConvertRecord","comments":"","instanceIdentifier":"df5507de-38ef-3d58-a8db-edd0122b23a6"},"destination":{"id":"7904d3ca-8a8e-31e3-a814-d3036405ed0a","type":"OUTPUT_PORT","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"failures","comments":"","instanceIdentifier":"e2542c03-5264-3a9d-91c3-cfba9d575628"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"6357f2ef-4023-32ac-b1be-817dbc9d1483","instanceIdentifier":"fee801c6-065b-3a95-aff4-55d3b4c79151","name":"","source":{"id":"9fa2cfe0-44bc-3ddc-8562-e7a7c41115bf","type":"INPUT_PORT","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"receive_kafka","comments":"","instanceIdentifier":"2c76a176-4303-36ba-a37d-c0e884589a3b"},"destination":{"id":"a6818d8e-baef-39eb-a726-372f623acac2","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"ConvertRecord","comments":"","instanceIdentifier":"df5507de-38ef-3d58-a8db-edd0122b23a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"f3559ed7-9681-314f-a55d-733d5f773a65","instanceIdentifier":"6ad6d5b7-6742-3783-b936-69907c64202d","name":"Put Object Store Failure","source":{"id":"679c9326-6ef5-3b3f-b874-999cc90b554b","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"6b479abe-7e9e-3205-a5de-4007fb00b939"},"destination":{"id":"7904d3ca-8a8e-31e3-a814-d3036405ed0a","type":"OUTPUT_PORT","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"failures","comments":"","instanceIdentifier":"e2542c03-5264-3a9d-91c3-cfba9d575628"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"8e13f4d0-ca26-3cd6-90b5-58286d73349c","instanceIdentifier":"42b01784-5c82-3282-ae9c-fc53727390bd","name":"","source":{"id":"ab6229d5-c78c-3a51-bd7b-9396b5a6ef7a","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"MergeRecord","comments":"","instanceIdentifier":"615b907c-50ed-3477-a1fd-ba871d0ca1e0"},"destination":{"id":"679c9326-6ef5-3b3f-b874-999cc90b554b","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"6b479abe-7e9e-3205-a5de-4007fb00b939"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"c99781f2-50f9-30ef-8a8b-553ced3e1115","instanceIdentifier":"dd38ffc4-45dd-3408-b6c2-f7d18e9270be","name":"","source":{"id":"a6818d8e-baef-39eb-a726-372f623acac2","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"ConvertRecord","comments":"","instanceIdentifier":"df5507de-38ef-3d58-a8db-edd0122b23a6"},"destination":{"id":"ab6229d5-c78c-3a51-bd7b-9396b5a6ef7a","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"MergeRecord","comments":"","instanceIdentifier":"615b907c-50ed-3477-a1fd-ba871d0ca1e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"f27f0a94-db35-35b7-9763-eeff307dce89","instanceIdentifier":"3b47baa5-0478-3273-8ce5-39904c84c34e","name":"Merge Record Failure","source":{"id":"ab6229d5-c78c-3a51-bd7b-9396b5a6ef7a","type":"PROCESSOR","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"MergeRecord","comments":"","instanceIdentifier":"615b907c-50ed-3477-a1fd-ba871d0ca1e0"},"destination":{"id":"7904d3ca-8a8e-31e3-a814-d3036405ed0a","type":"OUTPUT_PORT","groupId":"c993943a-5ed9-3604-b0d3-f96d698b8be8","name":"failures","comments":"","instanceIdentifier":"e2542c03-5264-3a9d-91c3-cfba9d575628"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"}],"labels":[{"identifier":"dfcd6c43-ccb8-30a5-98f3-42126a273d91","instanceIdentifier":"cf53d5aa-871b-3f40-821c-e4ac6e234adc","position":{"x":104.0,"y":728.0},"label":"Output will be sent to a CDP Object store, \nthe specific location is parameterized and \nwill be set in your KConnect configuration.\n","zIndex":0,"width":240.0,"height":56.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"c99c1cbc-5acc-33b3-9993-658437db2168","instanceIdentifier":"5079a8e0-6d7d-3c7b-b7ef-5c4b51554447","position":{"x":176.0,"y":80.0},"label":"Kafka messages are streamed in from a topic\nyou set in your KConnect configuration.","zIndex":0,"width":256.0,"height":48.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"c58b19d4-8ed6-3787-a5dc-d8aeccba512e","instanceIdentifier":"b7faf720-efc8-3ac1-b8f6-23df5efcf071","position":{"x":352.0,"y":224.0},"zIndex":0,"width":448.0,"height":656.0,"style":{"background-color":"#4ec23a"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"a4dc4556-65d1-3dc5-bc11-a5b684f859e0","instanceIdentifier":"60f34788-9e90-3265-b51a-825261009ecd","position":{"x":1056.0,"y":328.0},"label":"Failures will trigger a rollback on the Kafka\n consumer.  No actual output is generated \ndespite the use of an Output Port.","zIndex":0,"width":256.0,"height":64.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"dbdde09d-ed7a-3a57-b9ba-58d886b4015a","instanceIdentifier":"c283dde2-b9bb-303c-b56f-d39d9785434e","position":{"x":840.0,"y":400.0},"zIndex":0,"width":624.0,"height":296.0,"style":{"background-color":"#ff4545"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"c6328906-935c-399f-b966-ac03727b08ce","instanceIdentifier":"8640ee42-81da-3717-97ad-a71aa37418f7","position":{"x":152.0,"y":528.0},"label":"Combines individual records into \nlarger files.  (10k messages or 30 \nseconds, whichever comes first)","zIndex":0,"width":192.0,"height":56.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"52cc471d-042b-3c57-87de-d3b6b1fb12e4","instanceIdentifier":"2e5a067a-30d5-3741-b496-07eeb4f14ce9","position":{"x":80.0,"y":816.0},"label":"Username/Password are your CDP workload \ncredentials, which are also parameterized.","zIndex":0,"width":264.0,"height":48.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"c374785a-a9e4-3a2f-b850-2dd074b85c4e","instanceIdentifier":"e5dabb60-985f-3b9d-972a-b7518df95bdc","position":{"x":128.0,"y":272.0},"label":"Converts the JSON formatted Kafka \nmessages to Parquet format.","zIndex":0,"width":216.0,"height":48.0,"style":{"background-color":"#6e6e6e","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"}],"funnels":[],"controllerServices":[{"identifier":"5afccf1b-7197-3f12-9d1a-3fabce307681","instanceIdentifier":"c882df88-7258-301b-9d6a-f4d84fbb2c06","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.5-1"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.5-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"89f20f4d-51f9-3be7-9c29-04af4b6b6080","instanceIdentifier":"b38f6699-26de-3cba-8498-10b4a337ff7d","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.16.0.2.2.5.5-1"},"properties":{"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.5-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"},{"identifier":"33825ddc-1dce-33e8-83e0-53eebae922fd","instanceIdentifier":"3cbe4dea-e8f3-36fc-93c0-1340c4b40baf","name":"ParquetReader","comments":"","type":"org.apache.nifi.parquet.ParquetReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.16.0.2.2.5.5-1"},"properties":{"avro-read-compatibility":"true"},"propertyDescriptors":{"avro-read-compatibility":{"name":"avro-read-compatibility","displayName":"Avro Read Compatibility","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.5-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c993943a-5ed9-3604-b0d3-f96d698b8be8"}],"variables":{},"parameterContextName":"pcontext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"pcontext":{"name":"pcontext","parameters":[{"name":"cdp_password","description":"","sensitive":true},{"name":"bucket_folder","description":"Subfolder of the bucket the output should be written to, with a trailing slash.","sensitive":false,"value":"/subfolder_name/"},{"name":"bucket_uri","description":"The URI to your object store, but not the sub-folder if one is in use.   No trailing slash is needed.","sensitive":false,"value":"s3a://your-bucket-name"},{"name":"cdp_username","description":"","sensitive":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}